:root {
  --primary-color: #3498db;
  --secondary-color: #f39c12;
  --background-color: #f8f9fa;
  --text-color: #333;
}

body {
  font-family: sans-serif;
  font-size: large;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

#start-screen, #app-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#start-gif {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

#start-button, #calculate-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: large;
}

@media (min-width: 1080px) {
  #start-button, #calculate-button {
    width: 20%;
    
  }
}

#start-button:hover, #calculate-button:hover {
  background-color: var(--secondary-color);
}

#inputs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group label {
  margin-bottom: 5px;
  text-align: left;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message {
  margin-top: 5px;
  font-style: italic;
  color: var(--secondary-color);
}

#results {
  margin-top: 20px;
}

#total-sum {
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  #inputs-container {
    grid-template-columns: 1fr;
  }
}

h1 {
	display: flex;
	justify-content: center;
  text-align: center;
}

#app-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.toggle-container {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3; /* Color cuando está seleccionado */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#gender-label {
  margin-left: 10px; /* Espacio entre el interruptor y la etiqueta */
}

/* Estilos para el círculo del selector */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

/* Estilos para el selector cuando está en la posición de "Mujer" (checked) */
input:checked + .slider {
  background-color: pink; /* Rosa para mujer */
}

/* Estilos para el selector cuando está en la posición de "Hombre" (no checked) */
.slider {
    background-color: lightblue; /* Azul claro para hombre */
}

#ascii {
  font-family: monospace;
  font-size: xx-small;
}

@media (min-width: 760px) {
  #ascii {
    font-family: monospace;
    font-size: large;
  }
}

#interpretacion {
  text-align: center;
  width: 100%;
}

@media (min-width: 760px) {
  #interpretacion {
    width: 60%;
  }
}